* {
    box-sizing: border-box;

    user-select: none;

    font-family: sans-serif; 
}

html, body, #root {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;

    background-color: rgb(12, 13, 10);
    color: white;


    display: flex;
    align-items: center;
    justify-content: center;
}

.Streaks {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding: 25px;
}

.Streaks > * {
    margin-right: 0;
}

.Streaks > * > .title {
    font-size: 25px;
    text-align: center;
}

.doneStreaks, .notDoneStreaks {
    width: 475px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.streakWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 13px;
    padding: 20px;
    padding-left: 15px;

    min-height: 80px;
    width: 95%;
    border-radius: 5px;

    background-color: #182418;
}

.notDoneStreaks > .streakWrapper {
    background-color: rgb(53, 29, 29);
}

.doneStreaks > .streakWrapper {
    background-color: #162016;
}

.streakName, .streakNumber {
    display: block;
    width: fit-content;
}

.streakNumber {
    margin-left: auto;
    font-size: 25px;
}

.streakName {
    font-size: 21px;
}

.addStreak {
    display: block;
    position: relative;

    margin-top: 13px;
    padding: 10px;
    padding-left: 20px;

    min-height: 80px;
    width: 95%;
    border-radius: 8px;

    border: 2px rgb(100, 100, 100) dashed;
    transition: 0.25s;
}

.addStreak > .plus {
    height: 24px;
    width: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus > .vert {
    width: 4px;
    height: 100%;

    background-color: rgb(100, 100, 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    transition: 0.25s;
}

.plus > .horiz {
    width: 100%;
    height: 4px;

    background-color: rgb(100, 100, 100);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    transition: 0.25s;
}

.addStreak:hover > .plus > .horiz {
    background-color: white;
    transition: 0.25s;
}

.addStreak:hover > .plus > .vert {
    background-color: white;
    transition: 0.25s;
}

.addStreak:hover {
    border: 2px white dashed;
    transition: 0.25s;
}

.frosted {
    backdrop-filter: blur(5px);
}

.newStreakModal {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.newStreakBox {
    background-color: rgb(12, 13, 10);

    width: 500px;
    height: 150px;

    margin-top: 200px;
    border-radius: 10px;

    position: relative;

    border: 2px rgba(255, 255, 255, 0.3) solid;

    padding: 20px;
}

.newStreakInput {
    border-radius: none;
    border: none;

    caret-color: white;

    background-color: rgb(12, 13, 10);
    color: white;

    width: 100%;
    height: 35px;

    font-size: 21px;
}

input:focus {
    outline: none;
}

.bottomNav {
    display: flex;

    position: absolute;
    bottom: 16px;
    left: 0px;

    width: 100%;

    padding-right: 20px;
    padding-left: 20px;
}

.button {
    background-color: rgba(255, 255, 255, 0.04);
    color: white;

    border-radius: 6px;

    height: 35px;
    width: 90px;

    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button.add {
    width: 80px;

    background-color: rgb(125, 50, 50);

    margin-left: auto;
    transition: 0.25s;
}

.button.cancel {
    margin-left: 0;
    transition: 0.25s;
}

.button.add:hover {
    background-color: rgb(182, 70, 70);
}

.button.cancel:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.streakDisplayModal {
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.streakDisplayBox {
    height: 60vh;
    width: 50vw;

    min-width: 800px;

    background-color: rgb(12, 13, 10);

    border-radius: 8px;
    border: 2px rgba(255, 255, 255, 0.3) solid;

    padding: 20px;

    position: relative;
}

.taskCircle {
    background-color: rgba(75, 75, 75, 0.39);

    display: inline-block;

    height: 20px;
    width: 20px;

    border: 1px solid rgb(255, 255, 255);

}

.notDoneStreaks svg {
    color: transparent;
}

.taskCircle > * {
    transition: 0.25s;
}

.taskCircle:hover > * {
    color: white;
    fill: white;
}

.deleteButton {
    height: 40px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    /* background-color: rgba(255, 0, 0, 0.062); */
    background-color: rgb(125, 50, 50);

    position: absolute;
    bottom: 20px;
    right: 20px;

    transition: 0.25s;
}

.deleteButton:hover {
    background-color: rgb(182, 70, 70);
}

table {
    width: max-content;
    overflow-x: scroll;

    border-collapse: separate;
    border-spacing: 3px;
}

td {
    width: 10px !important;
    height: 10px !important;

    border-radius: 2px;
}

td[data-activity="true"] {
    background-color: #2ca03f;
}

td[data-activity="false"] {
    background-color: #161b22;
}

.borderThin {
    border: 1px solid #30363d;
    border-radius: 6px;

    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    width: 750px;

    display: flex;
    justify-content: center;
    align-items: center;
}